<nav class="nav has-shadow">                                              
    <div class="nav-left">                                                 
        <a href="{{"/" | relative_url}}" {% if page.url == "/" %} style="color: purple;"{% endif %} class="nav-item">
            Présentation
        </a>                
        <a href="{{"/publications" | relative_url}}" {% if page.url == "/publications/" %} style="color: purple;"{% endif %} class="nav-item">
            Publications
        </a>          
    </div>                                                                  
    <div class="nav-right nav-menu" id='nav-menu'>                          
        <!-- <a href="{{ "/tags" | relative_url }}" class="nav-item">English</a> -->   
    </div>                                                                 
</nav>            
