<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>


<div class="main-container">
  <div class="tile is-ancestor is-vertical">
      {% include navigation.html %}
    <div class="tile is-parent">
      <div class="tile is-8 is-child main">
        {{ content }}
      </div>
      <div class="tile is-4 is-child">
        <div class="tile is-parent is-vertical sidebar">
          <div class="tile is-child widget">
              <div class="box">
                  <h1> Coordonnées </h1>
                  <hr/>
                  <div class="content"><span class="post-text">
                    <style type="text/css"> span.spamprotection {display:none;}</style>
                    <p>Courriel: lapointe<span class="spamprotection">fjskliefn487t4kjfd</span>@irif.fr </p>
                    <p>Bureau: , 4ème étage, Bâtiment Sophie Germain, 8 Place Aurélie Nemours, F-75013 Paris  </p>
                  </div>
              </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
