<!DOCTYPE html>
<html lang="en-us">

{% include head.html %}

<body>

<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
        <h1 class="title">
            {{site.title}}
        </h1>
    </div>
  </div>
</section>

<div class="main-container">
  <div class="tile is-ancestor is-vertical">

      {% include navigation.html %}

    <div class="tile is-parent">
      <div class="tile is-8 is-child main">
        {{ content }}
      </div>

      <div class="tile is-4 is-child">
        <div class="tile is-parent is-vertical sidebar">

          <div class="tile is-child widget">

            <div class="card">
              <header class="card-header">
                <p class="card-header-title nice-title">
                  Coordonnées
                </p>
              </header>
              <div class="card-content">
                <div class="content nice-text">
                    <style type="text/css"> span.spamprotection {display:none;}</style>
<p>Courriel: lapointe<span class="spamprotection">fjskliefn487t4kjfd</span>@irif.fr 
</p>

                </div>
              </div>
            </div>
          </div>



        </div>

      </div>

    </div>

  </div>
</div>

</body>
</html>
